---
import type { MarkdownHeading } from 'astro'
import Categories from './Categories.astro'
import Profile from './Profile.astro'
import Series from './Series.astro'
import Tag from './Tags.astro'

interface Props {
  class?: string
  style?: string
  headings?: MarkdownHeading[]
}

const className = Astro.props.class
const style = Astro.props.style
---

<div id="sidebar" class:list={[className, 'w-full']} style={style}>
  <div class="mb-4 flex w-full flex-col gap-4">
    <Profile />
  </div>
  <div
    id="sidebar-sticky"
    class="sticky top-4 flex w-full flex-col gap-4 transition-all duration-700"
  >
    <Categories class="onload-animation" style="animation-delay: 150ms" />
    <Series class="onload-animation" style="animation-delay: 180ms" />
    <Tag class="onload-animation" style="animation-delay: 200ms" />
  </div>
</div>
